.AccountPage {
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.AccountPage__header {
  display: flex;
  justify-content: center;
}

.AccountPage__card__header {
  text-align: left;
  font-weight: bold;
}

.AccountPage__card {
  text-align: left;
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 100%;
}

.AccountPage__card__fields {
  display: flex;
  flex-wrap: wrap;
}

.submitButton {
  font-size: 14px;
  font-weight: 450;
  padding: 3px 9px;
  background-color: transparent;
  color: #009edb;
  border: 2px solid #009edb;
  border-radius: 2px;
}

@media (min-width: 800px) {
  .submitButton {
    font-size: 17px;
  }
}

@media (min-width: 1500px) {
  .submitButton {
    font-size: 22px;
  }
}

@media (min-width: 2500px) {
  .submitButton {
    font-size: 25px;
  }
}
