.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Sorter_container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid #ebebeb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 20px;
}

.Sorter_form {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 80%;
  white-space: nowrap;
}

#Sorter {
  font-size: 17px;
  font-weight: 800;
  margin-left: 16px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
}

@media (min-width: 1300px) {
  .Sorter_container {
    width: 300px;
  }

  #Sorter {
    height: 48px;
    width: 70%;
  }
}

@media (min-width: 1600px) {
  .Sorter {
    height: 500px;
  }
}
@media (max-width: 600px) {
  .Sorter_container {
    margin: 0 0;
  }

  #Sorter {
    width: 80%;
  }
}
