.AccountPage {
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.AccountPage__header {
  display: flex;
  justify-content: center;
}

.Account__contact__header,
.Account__insights__header,
.Account__notes__header {
  text-align: left;
}

.Account__contact__content,
.Account__insights__content,
.Account__notes__content {
  display: flex;
  justify-content: center;
}

.AccountPage__contact,
.AccountPage__insights,
.AccountPage__notes {
  margin: 10px 5px;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
