.HomePage {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomePage__Header {
  font-weight: bold;
  font-size: 0.8em;
}

.HomePage__Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.CustomersTableOuter {
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#CustomersTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
}

#CustomersTable td,
#CustomersTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#CustomersTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#CustomersTable tr:hover {
  background-color: #ddd;
}

#CustomersTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #009edb;
  color: white;
}

@media (min-width: 800px) {
  .CustomersTableOuter {
    flex-direction: row;
  }
}
